{% extends 'base/main.html' %}
{% block content %}
{% load static %}

<hr>

<!DOCTYPE html>
<html>
<head>
    <title>Climapp</title>

     <link rel="stylesheet" href="{% static 'Styles/index.css' %}">
</head>
<body>
    <form class="remove_margin"></form>

    <h1>Climapp</h1>

    <form action="{% url 'get_weather' %}" method="get">
        <label for="City">City name: </label>
        <input class="search_bar" type="text" name="city" placeholder="Enter City name">
        
        <label for="unidade">unit: </label>
        <select class="unidade_buttom" name="unit">
            <option value="metric">Celsius</option>
            <option value="imperial">Fahrenheit</option>
            <option value="standard">Kelvin</option>
        </select>
        
        <label for="timezone">Timezone: </label>
        <select class="timezone_bottom" name="timezone">
            <option value="America/Sao_Paulo">São Paulo</option>
            <option value="America/New_York">New York</option>
            <option value="Europe/Paris">Paris</option>
            <option value="Asia/Tokyo">Tóquio</option>
        </select>
        
        <button  class="submit_buttom"  type="submit">Search weather</button>
    </form>
    
    <form>

        
        <div class="resultado_style" id="resultado">

            <div class="Weather_in">
                <p> Weather In {{ city }}</p>
            </div>

            <div class="icon">

                {% if icon_url %}
                    <img src="{{ icon_url }}" alt="Weather Icon">
                {% endif %}    

            </div>

            <div class="content">

                <div class="resultado_current_weather_style" id="current_weatherid">
                    {% if current_weather %}
    
                        <p class="current_weather_caixa"> {{ current_weather }}</p>
    
                    {% endif %}
                    {% if errror %}
                        <p>{{ error }}</p>
                    {% endif %}    
    
                </div>
    
                {% if temperature %}
                    <p class="temperatura_style">Temperature: {{ temperature }}°</p>
    
                    <p class="local_hour_style">Local hour: {{ timestamp }}</p>
    
                {% endif %}
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}




            </div>


        </div>
        

    </form>

<body>
    
{% endblock content %}
