{% extends 'base/main_login.html' %}
{% block content %}
{% load static %}


<html>

    <head>
        <title>Login</title>

        <link rel="stylesheet" href="{% static 'Styles/login.css' %}">

    
    </head>
    

    <body>

        <h1 class="login_title">Login</h1>
    
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input class="submit_buttom" type="submit" value="Login">
        </form>
        
        <p style="margin-left: 6px;"  >Dont have an account? <a href="{% url 'register' %}">Register</a></p>
        {% endblock content %}
        

    </body>

</html>

