{% extends 'base/main_login.html' %}
{% block content %}
{% load static %}



<html>
    <head>

        <link rel="stylesheet" href="{% static 'Styles/register.css' %}">


    </head>

    <body>
        <h1 class="register_title">Register</h1>

        <form method="POST">
            <div style="margin-left: 5px;">
                {% csrf_token %}
                {{form.as_p}}
                <input class="submit_register" type="submit" value="Register">
            </div>
        
        </form>
        
        <p class="have_account">Already have an account? <a   href="{% url 'login' %}">Login</a></p>

    </body>

</html>

{% endblock content %}


